/* ==========================================================================
    generic.fonts
/ =========================================================================== */

@font-face {
  font-family: Untitled Sans;
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/@input/assets/fonts/UntitledSansWeb-Regular.woff2');
}

@font-face {
  font-family: Untitled Sans;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/@input/assets/fonts/UntitledSansWeb-Medium.woff2');
}
