/* ==========================================================================
    components.share-widget
/ =========================================================================== */

/* --------------------------------------------------------------------------
    Use/Forward rules
    `@use` or `@forward` everything you need here from other files.
    These can include variables, mixins & other includes.
/ --------------------------------------------------------------------------- */

@use 'node_modules/@supple-kit/supple-css/tools/space';
@use '../settings/vars';

/* --------------------------------------------------------------------------
    Variables
/ --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    Functions/Mixins
/ --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
    Module
/ --------------------------------------------------------------------------- */

.c-share-widget {
  position: fixed;
  inset-inline-end: space.get('base');
  inset-block-end: space.get('base');
  opacity: 0.9;
}

.c-share-widget__button {
  display: block;
  margin: 0;

  &:active {
    transform: scale(1.2);
  }
}

.c-share-widget__label {
  inline-size: space.get('base');
  block-size: space.get('base');
  background-image: url('/@input/assets/images/share-widget/share.svg');
  background-repeat: no-repeat;
  background-position: center;

  .apple & {
    background-image: url('/@input/assets/images/share-widget/share-apple.svg');
  }
}
