<share-widget class="c-share-widget">
  <button class="c-share-widget__button" on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div class="c-share-widget__label"></div>
  </button>
</share-widget>
