<header class="c-masthead  |  o-retain  o-retain--desk  |  o-flow">
  {% include "templates/logo/logo.njk" %}
  <nav>
    <ul class="o-layout  o-layout--align-inline-center  o-layout--gap-base">
    {%- for entry in collections.pages | eleventyNavigation %}
      <li class="o-layout__fit{% if page.url and entry.url in page.url %}  is-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    </ul>
  </nav>
</header>
