{% if postList.length %}
  <ol reversed>
    {% for article in postList | reverse %}
      <li>
        <time datetime="{{ article.date | htmlDateString }}">{{ article.date | readableDate }}</time>
        <h3>
          <a href="{{ article.url }}" rel="bookmark">{{ article.data.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ol>
{% endif %}
