<link rel="manifest" href="/manifest/manifest.json">
<link rel="icon" href="/manifest/icon.svg">
<link rel="mask-icon" href="/manifest/icon.svg" color="#EE4266">
<link rel="apple-touch-icon" href="/manifest/icon-512x512.png">
