<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/global/meta-info.njk" %}
    <link rel="stylesheet" href="/@includes/styles/styles.scss" />
  </head>
  <body>
    <a href="#main-content">Skip to content</a>
    <header>
      <a href="/">{{ metadata.name }}</a>
      <ul>
      {%- for entry in collections.pages | eleventyNavigation %}
        <li class="{% if page.url and entry.url in page.url %}  is-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main id="main-content"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {% block content %}
        <h1>{{ title }}</h1>
        {{ content | safe }}
      {% endblock %}

      {% set postList = collections.posts %}
      {% include "partials/components/post-list.njk" %}
    </main>

    <footer>
      <mark>development: {{ global.isDevelopment }}</mark>
    </footer>

  </body>
</html>
