{% extends 'layouts/base.njk' %}
{% set templateClass = 'tmpl-archive' %}

{% block content %}
  <h1>{{ title }}</h1>
  {{ content | safe }}

  <ul>
    {% for tag in collections.tagList %}
      <li>
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
