/* ==========================================================================
    settings.vars
    Project specific variables & Supple-CSS overrides.
/ =========================================================================== */

/* --------------------------------------------------------------------------
    Overrides
/ --------------------------------------------------------------------------- */

@use '@supple-kit/supple-css/settings/defaults' with (
  $font-size: 16px
);

@forward '@supple-kit/supple-css/settings/defaults';

/**
 * If you want to override some variables of a specific Supple-CSS module you
 * can import the specific `variables` file and overwrite the settings here, eg:
 *
@use 'node_modules/@supple-kit/supple-css/objects/layout/variables' with (
  $gaps: (
    'base',
    'tiny',
  )
);
 *
 */

/* --------------------------------------------------------------------------
    Your own variables
/ --------------------------------------------------------------------------- */

/**
 * Typography
 */
// Sizes
$font-size-max: 20px !default;
$font-size-alpha: defaults.$baseline * 4 !default;
$font-size-beta: defaults.$baseline * 3 !default;
$font-size-gamma: defaults.$baseline * 2.5 !default;
$font-size-delta: defaults.$baseline * 2.5 !default;
$font-size-epsilon: defaults.$baseline * 2.5 !default;
$font-size-zeta: defaults.$baseline * 2.5 !default;

// Font family
$font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
  'Helvetica Neue', 'Arial', 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

/**
 * Colors
 */
$color-light: #fcfcfc !default; // Baby powder
$color-gray: #ececec !default;
$color-dark-gray: #7d99b4 !default;
$color-dark: #12355b !default; // Prussian blue
$color-brand-primary: #ee4266 !default; // Paradise pink
$color-brand-secondary: #161f2b !default; // Rich black
$color-brand-tertiary: #3ddc97 !default; // Medium aquamarine
