/*  =========================================================================
    elements.links
/   ========================================================================= */

a {
  color: currentcolor;
  text-decoration-color: var(--color-brand-primary);

  &:focus,
  &:hover {
    color: var(--color-brand-primary);
  }
}
