<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ metadata.url }}/feed.xml" />
    {% include "global/meta-info.njk" %}
    <link rel="stylesheet" href="/@input/assets/styles/styles.scss" />
    <script>if (/Mac OS X/.test(navigator.userAgent))document.documentElement.classList.add('is-apple');</script>
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <a href="#main-content">Skip to content</a>
    <div class="o-flow">
      {% include "components/masthead/masthead.njk" %}

      <main id="main-content" class="o-retain  o-retain--lap">
        {% block content %}
          <div class="o-flow">
            <h1>{{ title }}</h1>
            {{ content | safe }}
          </div>
        {% endblock %}
      </main>

      <footer class="o-retain  o-retain--lap">
        <p>Part of <a href="https://supple-kit.dev">Supple Kit</a>, a <a href="https://bram.is"><strong>bram.is</strong></a> project.</p>
      </footer>
    </div>

    <script src="/@input/assets/scripts/scripts.js" type="module" />
  </body>
</html>
