<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ metadata.url }}/feed.xml" />
    {% include "global/meta-info.njk" %}
    <link rel="stylesheet" href="/@input/assets/styles/styles.scss" />
    <script>if (/Mac OS X/.test(navigator.userAgent))document.documentElement.classList.add('is-apple');</script>
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {% include "templates/masthead.njk" %}

    <main id="main-content" class="o-retain  o-retain--desk">
      {% block content %}
        <div class="o-flow">
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </div>
      {% endblock %}
    </main>

    <footer class="o-retain  o-retain--desk">
      <p>Eleventy Supple Starter is part of <a href="">Supple Kit</a>, a <a href="https://bram.is"><strong>bram.is</strong></a> project.</p>
    </footer>

    <script src="/@input/assets/scripts/scripts.js" type="module" />
  </body>
</html>
