<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/@input/assets/styles/styles.scss" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {{ content | safe }}

    {% block foot %}
    {% endblock %}
  </body>
</html>
