{% extends "layouts/base.njk" %}
{% set templateClass = 'tmpl-post' %}
{% set lastModified = page.inputPath | lastModifiedDate %}

{% set shareUrl = metadata.url + page.url | safe %}
{% set shareLabel = 'Share ' + title %}

{% block content %}
  <article>
    <h1>{{ title }}</h1>
    <p>Published on: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
    <p>Modified on: <time datetime="{{ lastModified | htmlDateString }}">{{ lastModified | readableDate }}</time></p>

    {{ content | safe }}

    <aside>
      {% component 'components/share-widget/ShareWidget.svelte', url=shareUrl, label=shareLabel, hydrate='eager' %}

      <h2>Filed under:</h2>
      {% for tag in tags | tagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
      {% endfor %}
    </aside>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{ title }}",
      "image": [],
      "author": "{{ metadata.author.name }}",
      "genre": "{{ metadata.genre }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ metadata.publisher.name }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ '/manifest/icon-144x144.png' }}"
        }
      },
      "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
      "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
      "datePublished": "{{ page.date | htmlDateString }}",
      "dateModified": "{{ lastModified | htmlDateString }}",
      "description": "{{ content | striptags | truncate(140) }}"
    }
    </script>
  </article>
{% endblock %}
