{% extends 'layouts/base.njk' %}
{% set templateClass = 'tmpl-tags' %}

{% block content %}
  <div class="o-flow">
    <h1>{{ title }}</h1>
    {{ content | safe }}

    <ul>
      {% for tag in collections.tagList %}
        <li>
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
